@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&family=Work+Sans:wght@400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
}

body.no-scrollbar {
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body.no-scrollbar::-webkit-scrollbar {
  display: none;
}